<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- <bean id="authServiceBean" class="com.banking.service.AuthService" autowire="byName">
	</bean> -->
	
	<bean id="daoBean" class="com.banking.db.CustomerDaoImpl" autowire="byName">
	</bean>
	<bean id="daoTransactionsBean" class="com.banking.db.TransactionDaoImpl" autowire="byName">
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" autowire="byType">
	
	</bean>
	
	<bean id="myDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
	<property name="url" value="jdbc:mysql://127.0.0.1:3306/cts_banking?useSSL=false"></property>
	<property name="username" value="cts"></property>
	 <property name="password" value="cts"></property>
	</bean>

</beans>